# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv

# Django
db.sqlite3
*.log
debug.log
/media/
/staticfiles/
/static/
*.pyc

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
*.pid

# Coverage
.coverage
htmlcov/

# Media files (фото)
/media/

# Secret key
SECRET_KEY